/*** Default ***/
body {
  background: #105B63;
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.container {
  display: block;
  min-width: 100%;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 33%;
  max-width: 33%;
}

#clue-holder {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#answer {
  background: transparent;
  border: solid .2em #BD4932;
  color: #FFFAD5;
  display: block;
  font-size: 2em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  min-height: 2em;
  min-width: 40%;
  padding-left: .5em;
}

#answer:focus {
  outline: 0;
}

.start-btn {
  background: #BD4932;
  border: none;
  color: #FFFAD5;
  cursor: pointer;
  display: block;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 2em;
  margin-left: auto;
  margin-right: auto;
  min-height: 2em;
  min-width: 20%;
  text-transform: uppercase;
  text-shadow: -1px 1px #417cb8;

}

.start-btn:hover {
  background: #973B28;
}

.clue-holder, .timer-holder, .hint {
  color: #FFD34E;
  display: block;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.5em;
  margin-top: 1em;
  text-align: center;
}

.hint {
  color: #DB9E36;
  display: none;
}

.clue-holder {
  display: block;
  margin-bottom: 1em;
  margin-top: 0;
}

/*** Galaxy S5 ***/
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)   {
  /* styles here */
  .logo {
    max-height: 75%;
    max-width: 75%;
  }

  .start-btn {
    font-size: 4em;
    min-height: 2.5em;
    min-width: 70%; 
  }

  .clue-holder, .timer-holder {
    font-size: 2.5em;
  }

  #answer {
    min-width: 75%; 
    /* min-height: 3.5em; */
    font-size: 3.5em;
  }
}
